[Unit]
Description=Heating Brain Application
After=local-fs.target network.target

[Service]
Type=simple
WorkingDirectory=/opt/heating_brain
Environment="HOME=/opt/heating_brain"
Environment="MIX_ENV=prod"

ExecStart=/opt/heating_brain/_build/prod/rel/heating_brain/bin/heating_brain start
ExecStop=/opt/heating_brain/_build/prod/rel/heating_brain/bin/heating_brain stop

Restart=always
RestartSec=60s
TimeoutStopSec=30s

OOMScoreAdjust=500

StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=heating_brain

[Install]
WantedBy=default.target
