[Unit]
Description=Brain Application
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/brain
Environment="MIX_ENV=prod"

ExecStart=/usr/bin/sudo /opt/brain/_build/prod/rel/brain/bin/brain start
ExecStop=/usr/bin/sudo /bin/kill -SIGTERM $MAINPID

Restart=always
RestartSec=5
TimeoutStopSec=30s

OOMScoreAdjust=500

StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=brain

[Install]
WantedBy=default.target
