# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# Ignore the lock file for assets. This might be a
# problem some day but since this is an internal
# software, let's assume it needs to work with the
# latest packages.
/assets/package-lock.json
