<%= if Enum.any?(@data) do %>
  <%= for {id, {measurement, state, data}} <- @data do %>
    <div id="<%= id %>"
         data-chart-label="<%= to_string(measurement) %>"
         data-current-measurement="<%= Jason.encode!(measurement) %>"
         data-current-state="<%= Jason.encode!(state) %>"
         data-data="<%= Jason.encode!(data) %>"
         phx-hook="ChartHook">
      <div phx-update="ignore">
        <canvas class="chartContainer" />
      </div>
    </div>
  <% end %>
<% end %>
